@import url('reset.css');
@import url('layout.css');
@import url('animation.css');
@import url('responsive.css');

@font-face {
    font-family: 'PP Neue Montreal';
    src: url(/fonts/PPNeueMontreal.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atyp  Display';
    src: url(/fonts/AtypDisplay-Semibold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}